{
  "extends": ["airbnb-base"],
  "rules": {
      "linebreak-style": "off",
      "indent": "off",
      "no-unused-vars": "warn",
      "no-use-before-define": ["error", { "functions": false }]
  }
}